<nav class="navbar">
  <div class="navbar-logo">
    <h1>LaunchDarkly</h1>
  </div>
  <div class="navbar-search">
    <input type="text" [(ngModel)]="searchText" placeholder="Search flags">
  </div>
</nav>
<h1 class="mg-4">Feature Flags</h1>
<div  class="container mt-4">

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Flag Name</th>
        <th>Development</th>
        <th>Test</th>
        <th>Production</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flag of flagData">
        <td>{{ flag.name}}</td>
        <td>
          <div class="dropdown" [ngClass]="{'open': dropdownOpen[flag.name + '-development']}">
            <button
              (click)="toggleDropdown(flag.name, 'development')"
              [ngClass]="{'green-button': flag.environments.development.on, 'red-button': !flag.environments.development.on}">
              {{ flag.environments.development.on ? 'On' : 'Off' }}
            </button>
            <div class="dropdown-content" *ngIf="dropdownOpen[flag.name + '-development']">
              <button
                [ngClass]="{'green-button': !flag.environments.development.on, 'red-button': flag.environments.development.on}"
                (click)="updateFlag('projectKey', flag.name, flags , 'development', !flag.environments.development.on)">
                {{ !flag.environments.development.on ? 'On' : 'Off' }}
              </button>
            </div>
          </div>
        </td>
        <td>
          <button
          [ngClass]="{'green-button': flag.environments.test.on, 'red-button': !flag.environments.test.on}">
          {{ flag.environments.test.on ? 'On' : 'Off' }}
          </button>
        </td>
        <td> 
          <button
          [ngClass]="{'green-button': flag.environments.production.on, 'red-button': !flag.environments.production.on}">
          {{ flag.environments.production.on ? 'On' : 'Off' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>Total Flag Count : {{flagData.length}}</p>
<div *ngIf="!flagData.length">
  <p>No feature flags available.</p>
</div>
